# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/my-db?schema=public"

# Docker compose
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_DB=""

COMPOSE_PROJECT_NAME=""

# App
NODE_ENV=""
PORT=""

# Auth (JWT)
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""